body{
    position: relative;
}
#canvas {
    border: 1px solid black;
    background-color: black;

}
#startButton{
    position: absolute;
    left: 850px;
    top: 120px;
}
#resetButton{
    position: absolute;
    left: 850px;
    top: 170px;
}
#lastButton{
    position: absolute;
    left: 850px;
    top: 220px;
}
#pra{
    position: absolute;
    left: 850px;
    top: 10px;
}
#role{
    position: absolute;
    left: 850px;
    top: 270px;
}
#rankingNormal{
    position: absolute;
    left: 1000px;
    top: 20px;
}
#rankingLast{
    position: absolute;
    left: 1200px;
    top: 20px;
}